* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poster {
  width: 33%;
}

.poster img {
  width: 100%;
}

ul {
  border: 1px solid;
}

.position-r {
  position: relative;
}

.position-a {
  position: absolute;
  right: 20;
  bottom: 15;
}
