* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: bebas;
  src: url(../fonts/bebas/BebasNeue-Regular.ttf);
}

.poster {
  width: 33%;
}

.poster img {
  width: 100%;
}

ul {
  border: 1px solid;
}

.position-r {
  position: relative;
}

.position-a {
  position: absolute;
  right: 20;
  bottom: 15;
}

.position-a2 {
  position: absolute;
  right: 120;
  bottom: 15;
}

h1 {
  font-family: bebas;
  color: red;
  font-size: 7rem;
}